name: CI for ML Project

on:
  push:
    branches:
      - main  # Ejecuta el workflow cuando hay push en la rama main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run training
        run: python train.py

      - name: Upload model
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: model.pkl

      - name: Upload feature importance plot
        uses: actions/upload-artifact@v4
        with:
          name: feature-importance
          path: feature_importance.png
