name: Train Model On-Premise

on:
  push:
    branches:
      - main

jobs:
  train:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          python3.8 -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Train Model
        run: python3.8 train.py

      - name: Run Prediction
        run: python3.8 predict.py

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: |
            model.pkl
            feature_importance.png
            predictions.csv